.conference-title {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

.conference-time{
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;

}

.conferences {
  margin-bottom: 5%;
}

.conference {
  background-color: #B2CC35;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
  color: white;
  font-weight: lighter;
}

.pause {
  background-color: #B2CC35;
  color: white;
  font-weight: lighter;
}

.conference-15 {
  padding-top: 1%;
  padding-bottom: 1%;
}

.conference-40 {
  padding-top: 4%;
  padding-bottom: 4%;
}

.conference-generic {
  background-color: #193E5F;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: auto;
}
.title-preview {
  font-size: 0.8em;
  font-weight: lighter;
}

.horaire-preview {
  font-size: 0.9em;
  font-weight: bold;
}

.conference:nth-child(2n) {
  background-color: #E5421C;
}

.conference:nth-child(3n) {
  background-color: #00A2DF;
}

.conference-opt {
  color: white;
}

.conference-opt > a {
  color: white;
}

.conference-opt > a:hover {
  color: black;
}

.conference-time {
  padding: 0 3%;
}



.circle {
  width: 25px;
  border: 1px solid white;
  border-radius: 50%;
}

.modal-card {
  border-radius: 7px;
}

.modal-card-header > h1 {
  color: white;
  font-weight: bold;
  font-size: 1.3em;
}

.modal-card-body > h1 {
  color: #193E5F;
  font-size: 1.4em;
  font-weight: bold;
}

.modal-card-body > h2 {
  color: #193E5F;
  padding-bottom: 10px;
}

.modal-card-header {
  background-color: #193E5F;
  padding-bottom: 5px;
}

.social-twitter {
  z-index: 1;
  position: relative;
  margin-right: -50px;
}

.social-linkedin {
  z-index: 1;
  position: relative;
  margin-left: -50px;
  padding: 17px;
  background-color: #0073b0;
  color: white;
  border-radius: 8px;
}

.speaker {
  border-radius: 50%;
  width: 25%;
  display: inline-block;
  margin-top: 5px;
  position: relative;
  z-index: 0;
  background-color: #f2f2f2;
}

.tags {
  margin-top: 10px;
}

.tags :nth-child(n) {
  margin-right: 10px;
}

.is-notselected {
  border: 1px dashed;
}
