/** BEGIN POP UP **/

.circle {
  width: 25px;
  border: 1px solid white;
  border-radius: 50%;
}

.modal-card {
  border-radius: 7px;
}

.modal-card-header > h1 {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.modal-card-body > h1 {
  color: #e6421c;
  font-size: 1.4em;
  font-weight: bold;
}

.modal-card-body > h2 {
  color: #e6421c;
  padding-bottom: 10px;
}

.modal-card-header {
  background-color: #e6421c;
  padding-bottom: 5px;
}

.social-twitter {
  z-index: 1;
  position: relative;
  margin-right: -50px;
}

.social-linkedin {
  z-index: 1;
  position: relative;
  margin-left: -50px;
  padding: 17px;
  background-color: #0073b0;
  color: white;
  border-radius: 8px;
}

.speaker {
  border-radius: 50%;
  width: 25%;
  display: inline-block;
  margin-top: 5px;
  position: relative;
  z-index: 0;
  background-color: #f2f2f2;
}

.tags {
  margin-top: 10px;
}

.tags :nth-child(n) {
  margin-right: 10px;
}

.is-notselected {
  border: 1px dashed;
}

/** END POP-UP **/

.teste {
  background-color: #E53324;
}

.teste :nth-child(3n-7) {
  background-color: #A4DA30;
}

.teste :nth-child(4n-7) {
  background-color: #3198DC;
}