{
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
      }
  }
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "plugins": [
        "prettier"
    ]
}
