html {
  background: url("https://img11.hostingpics.net/pics/587148backgroundplanning.png") fixed;
  background-size: 100%;
}

.header-date {
  font-family: 'Permanent Marker', sans-serif;
  padding: 1%;
}

.header-date > h1 {
  padding:0; margin: 0;
  font-size: 3em;
  font-weight: bolder;
  color: #E6421C;
}

.header-date > h3 {
  padding:0; margin: 0;
  font-size: 1.8em;
}

.titreConference {
  font-size: 1.4em;
}

.itemsSmoothie{
  z-index: 1000;
  padding: 0% 1%;
  background-color: rgba(255, 255, 242, 0.9);
  text-align: center;
  margin-bottom: 100px;
  margin-top: 70px;
}

.outils {
  position: fixed;
  top: 500px;
  right: 0;
  background-color: rgba(255, 255, 242, 0.8);
  padding: 20px;
  text-align: center;
  border-radius: 10%;
}

.outils > div >  a > i {
  font-size: 2.5em;
  color: #E6421C;
  animation: bigest 0.7s ease infinite;
}

.outils > div >  a > i:hover {
  color: black;
}


.outils > div  {
  margin: 1%;
}


@keyframes bigest{
  from {font-size: 2.5em}
  50%  {font-size: 2.7em}
  to   {font-size: 2.5em;}
}

#citron {
  position: absolute;
  z-index: 0;
  width: 10%;
  height: 9%;
  top: 11%;
  left: 29%;
}

#citron > img {
  width: 100%;
  height: auto;
}

#paille {
  position: absolute;
  z-index: 0;
  width: 10%;
  height: 15%;
  top: 10%;
  right: 28%;
}

@media screen and (max-width:1280px) {
  #citron {
    width: 12%;
    height: 12%;
    top: 17%;
  }
}

@media screen and (max-width:980) {
  #citron {
    width: 30%;
    height: 30%;
    top: 150px;
  }
}

@media screen and (max-width:768px) {
  #citron {
    display: none;
  }
  #paille {
    display: none;
  }
}