html {
  background-image: url('https://img11.hostingpics.net/pics/194880pineapple17043411920.jpg');
  background-size: cover;
}

.header {
  text-align: center;
  position: relative;
  font-family: 'Lato', sans-serif;
  background-color: white;
  color: #435965;
}
