html {
  background-size: cover;
}


button:focus { outline: none; }

button:hover { opacity: .8; }

.fa {
  font-size: 20px;
  color: white;
}

.fa-plus {
  color: white;
  transition: 1s all ease 1s;
}

#pool {
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  background: none;
  position: absolute;
  overflow: hidden;
}

.button-wrapper {
  width: 54px;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 50%;
  right: 20px;
  bottom: 20px;
  transition: 1.25s all ease .9s;
}

button {
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
  position: relative;
  transition: 1.25s all ease .1s;

}

.main-button {
  background: #FF8F00;
  align-self: flex-end;
}

.layer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 54px;
  height: 54px;
  background: #FF8F00;
  border-radius: 50%;
  pointer-events: none;
  transition: 1.25s all ease .5s;
}

/*déplacement btn i*/
.button-wrapper.clicked {
  transform: rotate(180deg) translateY(-20px) translateX(20px);
  right: 0;
  bottom: 0;
  transition: .3s all ease .6s;
}

.button-wrapper.clicked .main-button {
  opacity: 0;
  transition: .3s all ease .3s;
}

/*déclencheur layer*/
.button-wrapper.clicked .layer {
  transform: scale(100);
  transition: 1.25s all ease .9s;
}

.layered-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.7s all ease .3s;
}

.layered-content.active { opacity: 1; }

.close-button {
  background: white;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #FF8F00;
}

.layered-content.active .close-button {
  -webkit-animation: .2s bounceIn;
  animation: .2s bounceIn;
}

.content p {
  color: white;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.content p a {
  font-size: 12px;
  background: white;
  padding: 2.5px 5px;
  color: #FF8F00;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  margin-left: 1.5px;
}

.content p {
  opacity: 0;
  position: relative;
  top: -7.5px;
  transition: .5s all ease .5s;
}

.layered-content.active .content p {
  opacity: 1;
  top: 0;
  transition: .5s all ease 1s;
}
