/**
CONTAINER FORM
 */


.modal-wrap {
  margin-top: 50px;
}

.modal-header {
  height: 45px;
  background: white;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header span {
  display: block;
  margin:5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.modal-header span.is-active {
  background: rgba(0, 0, 0, 0.4);
  background: #FF8F00;
}

.modal-bodies {
  position: relative;
  perspective: 1000px;
}



.modal-body {
  text-align: center;
  background: white;
  padding: 20px 20px;
  box-shadow: 0px 50px 30px -30px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  padding: 2% 5% 2% 5%;

}

/** Liste des mots clefs **/

.keyword-elt {
  margin: 6px;
  font-size: 0.9em;
  cursor: pointer;
}

.keyword-checkbox {
  margin-right: 3px;
}

/** button mixer **/

.mix-btn{
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #aaa;
  background-color: #E6421D;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

/** Liste des mots clefs **/

.category-title {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.category-desc {
  margin-bottom: 2%;
}

.blockDomain{
  background-color: grey;
  background-size: 100%;
  width: 100%;
  height: 300px;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.groupBtnLevel{
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.domain-selected{
  background-color: #E6421C;
  color:white;
}

.blockDomain h1 {
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
}

.blockDomain p {
  padding: 10px;
  font-size: 1.0em;
  font-weight: bolder;
}

.level-domain {
  margin: 1% 1% 5%;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: bolder;
}


/** Button suivant/précédent **/

.btn-suivant,
.btn-precedent{
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background: #FF6F00;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
  float: left;
  width: 100%;
  margin-top: 5px;
}
.btn-suivant:hover,
.btn-precedent:hover {
  background: #e66400;
}

.link-restore{
  margin-bottom: 20px;
}
/** tag **/

.is-notselected{
  border: 1px dashed;
}

.is-notselected:hover{
  border: 1px solid;
}

.contain-a{
  width: 100%;
  height: 100%;
  background-color: white;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 5px;
  color: #00A2DF;
}




/** BTN INFO **/


button:focus { outline: none; }

button:hover { opacity: .8; }

.fa {
  font-size: 20px;
  color: white;
}

.onShow {
  z-index: 1000;
}

.fa-plus {
  color: white;
  transition: 1s all ease 1s;
}

#pool {
  width: 100%;
  height: 91vh;
  background: none;
  position: absolute;
  overflow: hidden;
}

.button-wrapper {
  width: 54px;
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  right: 20px;
  bottom: 20px;
  transition: 1.25s all ease .9s;
}

.btn-info {
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
  position: relative;
  transition: 1.25s all ease .1s;

}

.main-button {
  background: #E6421D;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.layer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 54px;
  height: 54px;
  background: #E6421D;
  border-radius: 50%;
  z-index: -99;
  pointer-events: none;
  transition: 1.25s all ease .5s;
}

/*déplacement btn i*/
.button-wrapper.clicked {
  -webkit-transform: rotate(90deg) translateY(-96px);
  -ms-transform: rotate(90deg) translateY(-96px);
  transform: rotate(180deg) translateY(-20px) translateX(20px);
  right: 0;
  bottom: 0;
  -webkit-transition: .3s all ease .6s;
  transition: .3s all ease .6s;
}

.button-wrapper.clicked .main-button {
  opacity: 0;
  -webkit-transition: .3s all ease .3s;
  transition: .3s all ease .3s;
}

/*déclencheur layer*/
.button-wrapper.clicked .layer {
  -webkit-transform: scale(100);
  -ms-transform: scale(100);
  transform: scale(100);
  -webkit-transition: 2.25s all ease .9s;
  transition: 1.25s all ease .9s;
}

.layered-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  transition: 0.7s all ease .3s;
}

.layered-content.active { opacity: 1; }

.close-button {
  background: white;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #ff2670;
}

.layered-content.active .close-button {
  -webkit-animation: .2s bounceIn;
  animation: .2s bounceIn;
}

.content p {
  color: white;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.content p a {
  font-size: 12px;
  background: white;
  padding: 2.5px 5px;
  color: #E6421D;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
  margin-left: 1.5px;
}

.content p {
  opacity: 0;
  position: relative;
  top: -7.5px;
  -webkit-transition: .5s all ease .5s;
  transition: .5s all ease .5s;
}

.layered-content.active .content p {
  opacity: 1;
  top: 0;
  -webkit-transition: .5s all ease 1s;
  transition: .5s all ease 1s;
}



ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ========================================================
   TODO liste objectifs
   =====================================================
   ================================================== */

.todo {
  position: relative;
  width: 260px;
  margin: 0 auto;
  padding: 12px 0;
  background: #fff;
  border: 1px solid;
  border-color: #dfdcdc #d9d6d6 #ccc;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before, .todo:after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 4px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.todo:after {
  left: 0;
  right: 0;
  bottom: -3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before {
  left: 2px;
  right: 2px;
  bottom: -5px;
  border-color: #c4c4c4;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.lt-ie9 .todo:before, .lt-ie9 .todo:after {
  height: 1px;
  border-top: 0;
}

.todo-list { border-top: 1px solid #e6ebed }

.todo-list:before {
  content: '';
  width: 3px;
  z-index: 2;
  border: 1px solid #f2e3df;
  border-width: 0 1px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 35px;
}

.todo-list li {
  position: relative;
  padding: 7px 15px 7px 50px;
  line-height: 21px;
  font-size: 1.2em;
  color: #8b8f97;
  border-bottom: 1px solid #e6ebed;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + .toggle:after{
  opacity: 1;
}

.todo-list .toggle {
  display: block;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-indent: 100%;
  overflow: hidden;
  cursor: pointer;
}

.toggle:after {
  content: '';
  position: absolute;
  position: absolute;
  width: 7px;
  height: 3px;
  background: transparent;
  top: 14px;
  left: 13px;
  border: 2px solid #aaa;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
}

.todo-list .toggle:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #faf9f9;
  border: 1px solid #6bb3ca;
  border-radius: 2px;
  position: absolute;
  top: 9px;
  left: 9px;
  -webkit-box-shadow: 0 1px 1px #dfecf4;
  -moz-box-shadow: 0 1px 1px #dfecf4;
  box-shadow: 0 1px 1px #dfecf4;
}

.todo-list .toggle:hover:before {
  -webkit-box-shadow: 0 0 3px #6bb3ca;
  -moz-box-shadow: 0 0 3px #6bb3ca;
  box-shadow: 0 0 3px #6bb3ca;
}

.todo-list .done .toggle:before, .todo-list .toggle:active:before {
  border-color: #c0c0c0 #ccc #d8d8d8;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 5px 5px rgba(0, 0, 0, 0.05);
}
.todo-controls {
  margin: 0 15px 12px 50px;
  height: 12px;
}

.todo-controls li { float: left }

.todo-controls li + li { margin-left: 10px }

.todo-controls .right { float: right }

.todo-controls a {
  display: block;
  margin: 0;
  opacity: .6;
}

.todo-controls a:hover { opacity: 1 }

.todo-pagination {
  margin: 12px 12px 0 50px;
  height: 22px;
}

.todo-pagination li { float: left }

.todo-pagination .next { float: right }

.todo-pagination .next i { margin: 0 0 0 2px }

.todo-pagination a, .todo-pagination span {
  display: block;
  line-height: 22px;
  font-size: 11px;
  color: #676f7f;
}

.todo-pagination a {
  padding: 0 8px;
  text-shadow: 0 1px #fff;
  background: #f1f0f0;
  border-radius: 3px;
}

.todo-pagination a:hover {
  background: #e9e9e9;
  text-decoration: none;
}

.todo-pagination span {
  padding: 0 4px;
  opacity: .3;
}
