.form {text-align: center;}

.items {
  margin:2% 12%;
  padding: 2%;
  background-color: #F2F2F2;
}

.item {
  margin: auto;
}

.category-title {
  font-size: 1.6em;
  font-family: 'Lato', sans-serif;
}
