.switcher {
  position: fixed;
  top: 100px;
  left: 0;
  background: grey;
  width: 200px;
}

.item-switcher {
  background: #E6421D;
  padding: 2%;
  cursor: pointer;
  margin: 2%;
  color:white;
}

.item-switcher:hover {
  background: #e62b18;
}

