.switcher {
  position: fixed;
  top: 100px;
  left: 0;
  background: grey;
  width: 200px;
}

.item-switcher {
  background: #435965;
  padding: 2%;
  cursor: pointer;
  margin: 2%;
  color:white;
}

.selected-conf{
  background: #E6421D;
  padding: 2%;
  cursor: pointer;
  margin: 2%;
  color:white;
}


.item-switcher:hover {
  background: #292c65;
}


.msg-conflit {
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
